body {
	text-align: justify;
	font-size: 2em;
}

h1 {
	text-align: center
}
table {
  border-collapse: collapse;	
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

h2, h3, h4 {
	text-align: left
}	
